@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
@font-face {
  font-family: Konstant Grotesk;
  src: url('img/KonstantGrotesk.otf')
}


/* ::-webkit-scrollbar { 
  display: none; 
} */

body {
  background: url('img/linebg1.svg') no-repeat #EEEEEE;
  /* greybg  bg_edit4.. purple: EBDCFF; blue: EBEAF0, pink/red:FEE7EE FFF1EC  */
  background-size: 150%;
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  letter-spacing: 1px;
  color: #0000FF;
  font-size: 15pt;
}


.landing {
  margin: 0;
  border: 0px solid black;
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
}

.hand {
  height: 1em;
}

.logo {
  width: 150px;
  margin-bottom: 50px;
}

#navbar {
  width: 60px;
  z-index: 2;
  position: fixed;
  top: 5%;
  right: 5%;
}

#navtext {
  display: none;
  z-index: 2;
  position:fixed;
  top: 10%;
  right: 5%;
  /* font-family: 'Fira Mono'; */
  font-family: 'Fira Mono', monospace;
  /* text-shadow: 1px 0px; */
  letter-spacing: 3px;
  color: #FA3325;
  text-decoration: none;
  font-size: 0.8em;
}

.nav-links {
  background: url('img/navbg.svg') no-repeat center #EBDCFF;
  background-size:90%;
  margin: 0;
  border: 0px solid black;
  display:none;
  z-index: 1;
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Fira Mono', monospace;
  /* text-shadow: 3px 0px; */
  /* font-family: 'Fira Mono'; */
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}

ul, li {
  list-style: none;
  margin: auto;
  padding: 0;
}

.nav-links ul, .nav-links li {
  line-height: 2em;
}

.welcome-message {
  margin: 0;
  padding: 0;
  /* padding-top: 0; */
  border: 0px solid black;
  font-size: 18pt;
}

.welcome-message p {
  margin-bottom: 20px;
}

.sticky {
  position: fixed;
  top: 5%;
  right: 5%;
}

.links {
  margin: 0;
  padding: 30px;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
  margin-top: 0;
  width: 100%;
  position: absolute;
  bottom: 5px;
  box-sizing: border-box;
  color: #FA3325;
}


p {
  margin: 0;

}

.spacer {
  height: 10vh;
  border: 0px solid black;
}
.nav-work-bg {

  background: url('img/workbg.svg') no-repeat left transparent;
  background-size: 100% ;
  background-position-x: -100px;
  background-position-y: 200px;
}
.nav-about-bg {

  background: url('img/aboutbg.svg') no-repeat bottom transparent;
  background-size: 70% ;
  background-position-x: 70%;
  background-position-y: 0%;

}

.nav-contact-bg {

  background: url('img/linebg3.svg') no-repeat bottom transparent;
  background-size: 70% ;
  background-position-x: 70%;
  background-position-y: 0%;
}

.nav-contact-bg div:nth-of-type(3) {
  height: 100vh;
}

.nav-work, .nav-about, .nav-contact {
  font-size: 10pt;
  margin: 0;
  padding: 5%;
  border: 0px solid black;
  position: relative;
  line-height: 1.3em;
}

.scrolltop {
  position: absolute;
  bottom: 0px;
  right: 5.5%;
  display: inline;
  font-size: 1.2em;
}
/* 
.nav-about {
  background: url('img/linebg2.svg') no-repeat bottom right transparent;
  background-position-x: 100%;
  background-position-y: 150px;
  background-size: 50% ;
} */

.nav-work-content, .nav-about-content, .nav-contact-content {
  display: flex;
  flex-direction: column;
}


.visible {
  display: flex;
}

h2 {
  padding-bottom: 30px;
  font-family:  'Fira Mono';
  /* font-family: 'Konstant Grotesk';*/
  letter-spacing: 4px;
  font-weight: 700;
  text-transform:uppercase;
}

span, #navbar {
  color: #FA3325;
  cursor: pointer;
  letter-spacing: 4px;
  font-family: 'Konstant Grotesk';
  text-shadow: 1px 0px;
}

.nav-links span{
  text-shadow: 2px 0px;
}

span:active {
  color: #F39CFF;
}

.box4 {
  order: 2;
}

.box5 {
  order: 3;
}

.box6 {
  align-self: center;
  width: 70%;
  max-width: 200px;
  order: 1;
}

.box7, .box8 {
  padding: 40px;
}

.profile {
  width: 100%;
}

td {
  color: #FA3325;
  font-size: 1em;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 10px;
}

td i {
  font-size: 3em;
  padding-bottom: 15px;
}


@media screen and (min-width: 550px) {
  body {
    background-size: contain;
    background-position-y: 100px;
    /* background-position-x: 300px; */
  }
  /* .landing {
    display: flex;
    flex-direction: row;
  } */
  .logo {
    width: 20%;
    margin-left: 2%;
    margin-top: 3%;
  }
  .welcome-message {
    width: 40%;
    margin: auto;
    font-size: 3vh;
  }
  .links {
    font-size: 1em;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;

  }
  .links i {
    padding: 30px;
    color: #FA3325;
  }



  .header {
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    padding-bottom: 0px;
  }

  #navbar {
    display: none;
  }
  #navtext {
    display: flex;
  }


  .nav-work, .nav-about {
    font-size: 10pt;
  }

  h2 {
    font-size: 4em;
  }

  .nav-work-bg {

    background: url('img/workbg.svg') no-repeat left transparent;
    background-size: 100% ;
    background-position-x: -200px;
  }
  .nav-about-bg {
    background: url('img/aboutbg.svg') no-repeat top transparent;
    background-size: 50% ;
    background-position-x: 70%;
    background-position-y: 20%;
  }

  .nav-contact-bg {
    background-size: 50% ;
    /* background-position-x: 70%;
    background-position-y: 20%; */
  }

  .nav-links {
    display: none;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  .spacer {
    /* height: 100vh; */
    height: 30vh;
  }
}

@media screen and (min-width: 769px) {

  .nav-work-content, .nav-about-content, .nav-contact-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border: 0px solid black;
    padding: 10px;
  }

  .nav-contact-content {
    justify-content: flex-start;
  }


  .box1 {
    padding-right: 20px;
    flex: 1 1 auto;
    width: 30%;
  }

  .box2 {
    padding-left: 20px;
    flex: 1 1 auto;
    width: 70%;
  }
  
  .box3 {
    display: none;
    
  }

  .box4 {
    flex: 1 1 auto;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    order: 1;
  }

  .box5 {
    flex: 1 1 auto;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    order: 2;
  }

  .box6 {
    flex: 1 1 auto;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
    order: 3;
  }

  .box7, .box8 {
    flex: 1 1 auto;
    max-width: 30%;
  }

}
@media screen and (max-height: 650px) {
  .links {
    position: relative;
  }

}

@media screen and (min-height: 650px) {
  .spacer {
    height: 30vh;
  }
}