@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
@font-face {
  font-family: 'Anderson Black';
  src: url('img/AndersonGrotesk.otf') format('opentype');
}

body {
  background:#FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000;
  font-size: 15pt;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

#nav-work-bg {
  background: url('img/greybg2.svg') no-repeat #FFFFFF;
  background-size: 60%;
  background-position: top 10px right 10px;
}

button {
  text-align: left;
}

button:hover {
  cursor:pointer;
}

button#navbar, button#navbar:focus {
  background: url('img/win98_dir.png') no-repeat transparent;
  background-size: 80%;
  background-position: 50% 50%;
  color: transparent;
  font-size: 0px;
  border: 0px solid black;
  width: 50px;
  height: 60px;
  z-index: 3;
}

.nav-links button, .navlinks button:focus,
#portfolio-menu button, #portfolio-menu button:focus,
h3 button, h3 button:focus {
  background: transparent;
  border: none;
  margin: 0;
  text-decoration: underline;
  font-weight: 500;
}

button.scrolltop {
  background: transparent;
  border: none;
}

button:active {
  color: #000000;
  background-color: #F12C05 !important;
}


.landing-page {
  margin: 0;
  border: 0px solid black;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  background-color: #F12C05;
  height: 100vh;
}


#navbar {
  width: 60px;
  z-index: 2;
  position: fixed;
  top: 5%;
  right: 5%;
}


.nav-links {
  background: url('img/navbg.svg') no-repeat center transparent;
  background-size:90%;
  display:none;
  margin: 0;
  z-index: 1;
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  /* text-align: center; */
  font-size: 1.3em;
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 1.8em;
  z-index: 2;
}

ul, li {
  margin: auto;
  padding: 0;
}

.nav-links ul {
  list-style-image: url('img/win98_largedoc.png');
  padding-left: 20px;
}

#welcome-message {
  margin: 0;
  margin-top: 5%;
  padding: 10px;
  border: 0px solid black;
  font-size: 25pt;
  font-family: 'Anderson Black', 'Fira Mono', monospace;
  transform-origin: top left;
  color: transparent;
  letter-spacing: 0px;
  -webkit-transform:scale(1.5,1);
  -webkit-text-stroke: 1px #000000;
  width: 60%;
  line-height: 1em;
}

h1 {
  color: #000000;
  -webkit-text-stroke: 0px #000000;
  text-transform: uppercase;
  font-size: inherit;
  margin: 0;
  margin-bottom: 20px;
}

#contact-links {
  margin: 0;
  padding: 30px;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
  margin-top: 0;
  width: 100%;
  position: absolute;
  bottom: 5px;
  box-sizing: border-box;
  color: #000000;
  background: #F12C05;
}

p {
  margin: 0;
}

.spacer {
  height: 10vh;
  border: 0px solid black;
}

#nav-about-bg {
  background: url('img/aboutbg.svg') no-repeat transparent;
  background-size: 200% ;
  background-position: left -100px top -50px;
}

#nav-contact-bg div:nth-of-type(3) {
  height: 100vh;
}

.nav-work, .nav-about, .nav-contact {
  font-size: 10pt;
  margin: 0;
  padding: 5%;
  border: 0px solid black;
  position: relative;
  line-height: 1.6em;
}

.scrolltop {
  position: absolute;
  bottom: -50px;
  right: 5.5%;
  display: inline;
  font-size: 2em;
  z-index: 1;
}

#nav-work-content, #nav-about-content, #nav-contact-content {
  display: flex;
  flex-direction: column;
}


#nav-work-content p, #nav-about-content p, #nav-contact-content p {
  padding-top: 5px;
  padding-bottom: 15px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 700;

}

.repolink {
  display: inline-block;
  float: right;
}

h2 {
  font-family: 'Anderson Black';
  padding-bottom: 30px;
  transform-origin: top left;
  color: #000000;
  -webkit-transform:scale(1.4,1);
  letter-spacing: 1px;
  font-size: 2.0em;
  width: 50%;
  text-transform: uppercase;
  line-height: 0.8em;
}

a {
  color: #000000;
  background: transparent;
  letter-spacing: 0px;
  text-decoration: underline;
}

a:active {
  color: #000000;
  background-color: #F12C05;
}

#about-me-preamble {
  order: 2;
  margin-bottom: 30px;
}

#about-me-main {
  order: 3;
}

#about-me-imgs {
  width: 70%;
  max-width: 200px;
  order: 1;
  margin: auto;

}

#about-me-imgs table {
  padding-top: 30px;
  padding-bottom: 30px;
}

#lets-connect {
  padding: 0px;
}

#social-media-table {
  padding-top: 50px;
  margin: auto;
}

#social-media-table a {
  text-decoration: none;
}

#profile {
  width: 100%;
}

#social-media-table td {
  color: #000000;
  font-size: 1em;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 30px;
}

#social-media-table td i {
  font-size: 3em;
  padding-bottom: 15px;
}

#portfolio-menu {
  margin-bottom: 20px;
}

#portfolio-menu td {
  padding: 0px 20px 0px 0px;
}

#portfolio-menu table {
  padding-top: 10px;
}

#portfolio-menu ul {
  list-style-image: url('img/win98_smalldoc.png');
  margin-left: 20px;
}

#portfolio-menu li:nth-child(1) {
  list-style-image: url('img/win98_console.png');
}

#portfolio-menu li:nth-child(3) {
  list-style-image: url('img/win98_docs.png');
}

#portfolio-menu li:nth-child(4) {
  list-style-image: url('img/win98_smalldir.png');
}



#portfolio-menu td:nth-child(1) {
  text-align: right;
}

#portfolio-main img {
  width: 100%;
}


#portfolio-main .section {display:none;}
#portfolio-main.funpassgen .funpassgen,
#portfolio-main.zen-garden .zen-garden,
#portfolio-main.cocobuds .cocobuds,
#portfolio-main.sketches .sketches,
#portfolio-main.perlin-exp-1 .perlin-exp-1,
#portfolio-main.paper-1 .paper-1,
#portfolio-main.circle-2 .circle-2,
#portfolio-main.perlin-mountain-1 .perlin-mountain-1,
#portfolio-main.flower-1 .flower-1,
#portfolio-main.circle-1 .circle-1,
#portfolio-main.sine-wave-1 .sine-wave-1,
#portfolio-main.leslie .leslie {display: block;}

td#watermelon {
  padding-top: 20px;
}

#watermelon button, #watermelon button:focus {
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.list {
  display: none;
}

.about-show-more {
  display: none;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  flex-direction: column;
  padding: 0px;
}
  
#education {
  flex: 1 1 auto;
  width: 100%;
  margin-top: 20px;
}

#work {
  flex: 1 1 auto;
  width: 100%;
  margin-top: 40px;
}

.cv-box {
  padding: 0px;
  padding-top: 30px;
  padding-right: 20px;
}

.visible {
  display: flex;
}

#tech-stack i {
  font-size: 3em;
}

#tech-stack td {
  padding: 10px;
}

@media screen and (min-width: 550px) {

  .nav-links {
    background: none;
    width: 200px;
    height: auto;
    display: inline-block;
    z-index: 2;
    position: fixed;
    top: 10%;
    right: 20px;
    margin-left: auto;
    letter-spacing: 0px;
    color: #000000;
    text-decoration: none;
    font-size: 0.8em;
    text-align: right;
    direction: rtl;
    line-height: 1.5em;
  }

  .nav-links ul {
    margin-right: 50px;
    list-style-image: url('img/win98_smalldoc.png');
  }

  
  #welcome-message {
    width: 60%;
    margin-left: 0%;
    margin-top: 5%;
    font-size: 6.5vh;
  }
  #contact-links {
    font-size: 1em;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;
  }
  #contact-links i {
    padding: 30px;
    color: #000000;
  }

  #navbar {
    display: none;
  }

  .nav-work, .nav-about {
    font-size: 10pt;
  }

  h2 {
    font-size: 3em;
  }

  #nav-about-bg {
    background-size: 100% ;
    background-position-x: 0px;
    background-position-y: 0px;
  }

  .spacer {
    height: 30vh;
  }

  #about-me-imgs {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 450px;
    margin: auto;
    max-width: 500px;

  }

  #profile-img {
    flex: 1 1 auto;
    width: 40%;
  }

  #tech-stack-box {
    flex: 1 1 auto;
    width: 40%;
  }


}

@media screen and (min-width: 769px) {

  #nav-work-bg {
    background-size: 50%;
    background-position: top 1% right 10%;
  }

  .landing-page {
    padding: 30px;
  }

  #welcome-message {
    margin-top: 10%;
    font-size: 8.5vh;
  }

  #nav-work-content, #nav-about-content, #nav-contact-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border: 0px solid black;
    padding: 10px;
  }

  #nav-contact-content {
    justify-content: flex-start;
  }

  #portfolio-menu {
    padding-right: 20px;
    flex: 1 1 auto;
    width: 10%;
    min-width: 280px;
  }

  #portfolio-main {
    padding-left: 20px;
    flex: 1 1 auto;
    width: 50%;
  }
  

  #about-me-preamble {
    flex: 1 1 auto;
    width: 20%;
    max-width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    order: 1;
  }

  #about-me-main {
    flex: 1 1 auto;
    width: 40%;
    max-width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    order: 2;
  }

  #about-me-imgs {
    flex: 1 1 auto;
    flex-direction: column;
    width: 20%;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
    order: 3;
  }

  #about-me-imgs table {
    padding-top: 30px;
    padding-bottom: 0px;
  }

  #profile-img {
    width: 100%;
    min-width: 200px;
  }

  #tech-stack-box {
    width: 100%;
  }

  #lets-connect, #social-media-table {
    flex: 1 1 auto;
    width: 30%;
    max-width: 400px;
    padding: 40px;
  }
  .nav-links {
    direction: ltr;
    width: 350px;
    right: 0px;
  }
    
  .nav-links li {
    display: inline;
    margin-right: 10px;
  }

  .about-show-more {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-around;
  }

  #education {
    flex: 1 1 auto;
    width: 40%;
  }
  
  #work {
    flex: 1 1 auto;
    width: 40%;
    margin-top: 150px;
  }

}
@media screen and (max-height: 450px) {
  #contact-links {
    position: relative;
  }

  .landing-page {
    height: auto;
  }
}

@media screen and (min-height: 650px) {
  .spacer {
    height: 30vh;
  }
}