@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700');
@font-face {
  font-family: 'Anderson Black';
  src: url('img/AndersonGrotesk.otf') format('opentype');
}

body {
  background:#FFFFFF;
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  letter-spacing: 0px;
  color: #000000;
  font-size: 15pt;
}


body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.nav-work-bg {
  background: url('img/greybg.svg') no-repeat #FFFFFF;
  background-size: 100%;
  background-position: top 250px right 50px;
}

button, button:focus {
  background: url('img/folder.png') no-repeat transparent;
  background-size: 80%;
  background-position: 50% 50%;
  color: transparent;
  font-size: 0px;
  border: 0px solid black;
  width: 50px;
  height: 60px;
}

.landing-page {
  margin: 0;
  border: 0px solid black;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  position: relative;
  background-color: #F12C05;
  height: 100vh;
}

.logo {
  width: 150px;
  margin-bottom: 50px;
}

#navbar {
  width: 60px;
  z-index: 2;
  position: fixed;
  top: 5%;
  right: 5%;
}

.nav-links {
  background: url('img/navbg.svg') no-repeat center transparent;
  background-size:90%;
  display:none;
  margin: 0;
  z-index: 1;
  position: fixed;
  top: 0px;
  left:0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0px;
  font-weight: 500;
  line-height: 1.5em;
}

ul, li {
list-style: none;
  margin: auto;
  padding: 0;
}

.welcome-message {
  margin: 0;
  padding: 10px;
  border: 0px solid black;
  font-size: 25pt;
  font-family: 'Anderson Black', 'Fira Mono', monospace;
  transform-origin: top left;
  color: transparent;
  letter-spacing: 0px;
  -webkit-transform:scale(1.5,1);
  -webkit-text-stroke: 1px #000000;
  width: 60%;
  line-height: 1em;
}

h1 {
  color: #000000;
  -webkit-text-stroke: 0px #000000;
  text-transform: uppercase;
  font-size: inherit;
  margin: 0;
  margin-bottom: 20px;
}

.contact-links {
  margin: 0;
  padding: 30px;
  border: 0px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1em;
  margin-top: 0;
  width: 100%;
  position: absolute;
  bottom: 5px;
  box-sizing: border-box;
  color: #000000;
  background: #F12C05;
}

p {
  margin: 0;
}

.spacer {
  height: 10vh;
  border: 0px solid black;
}

.nav-about-bg {
  background: url('img/aboutbg.svg') no-repeat transparent;
  background-size: 150% ;
  background-position: left 20px top 100px;
}

.nav-contact-bg div:nth-of-type(3) {
  height: 100vh;
}

.nav-work, .nav-about, .nav-contact {
  font-size: 10pt;
  margin: 0;
  padding: 5%;
  border: 0px solid black;
  position: relative;
  line-height: 1.6em;
}

.scrolltop {
  position: absolute;
  bottom: -50px;
  right: 5.5%;
  display: inline;
  font-size: 2em;
  z-index: 1;
}

.nav-work-content, .nav-about-content, .nav-contact-content {
  display: flex;
  flex-direction: column;
}


.nav-work-content p, .nav-about-content p, .nav-contact-content p {
  padding-top: 5px;
  padding-bottom: 5px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: 700;

}

.repolink {
  display: inline-block;
  float: right;
}



h2 {
  font-family: 'Anderson Black';
  padding-bottom: 30px;
  transform-origin: top left;
  color: #000000;
  -webkit-transform:scale(1.4,1);
  letter-spacing: 1px;
  font-size: 2.0em;
  width: 50%;
  text-transform: uppercase;
}

a {
  color: #000000;
  background: transparent;
  letter-spacing: 0px;
  text-decoration: underline;
}

a:active {
  color: #000000;
  background-color: #F12C05;
}

.box4 {
  order: 2;
}

.box5 {
  order: 3;
}

.box6 {
  align-self: center;
  width: 70%;
  max-width: 200px;
  order: 1;
}

.box7, .box8 {
  padding: 40px;
}

.profile {
  width: 100%;
}

.box8 td {
  color: #000000;
  font-size: 1em;
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 10px;
}

.box8 td i {
  font-size: 3em;
  padding-bottom: 15px;
}

.box1 td {
  padding: 0px 20px 0px 0px;
}

.box1 table {
  padding-top: 10px;
}

.box1 a {
  font-family: 'Fira Mono';
  text-shadow: 0px 0px;
  letter-spacing: 0px;
  font-weight: 500;
  color: #000000;
}


#box2 img {
  width: 100%;
}




#box2 .section {display:none;}
#box2.funpassgen .funpassgen,
#box2.zen-garden .zen-garden,
#box2.sketches .sketches,
#box2.paper-1 .paper-1,
#box2.circle-2 .circle-2,
#box2.perlin-mountain-1 .perlin-mountain-1,
#box2.flower-1 .flower-1,
#box2.circle-1 .circle-1,
#box2.sine-wave-1 .sine-wave-1,
#box2.leslie .leslie {display: block;}

#watermelon {
  padding-top: 20px;
}

#watermelon a {
  text-decoration: none;
}

iframe {
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.list {
  display: none;
}

.about-show-more {
  display: none;
}

.visible {
  display: flex;
}

.tech-stack i {
  font-size: 3em;
}

.tech-stack td {
  padding: 10px;
}

@media screen and (min-width: 550px) {

  .nav-links {
    background: none;
    width: auto;
    height: auto;
    display: inline-block;
    z-index: 2;
    position:fixed;
    top: 10%;
    right: 0px;
    letter-spacing: 0px;
    color: #000000;
    text-decoration: none;
    font-size: 0.8em;
    text-align: right;
  }

  .nav-links ul {
    margin-right: 40px;
  }
  
  .welcome-message {
    width: 60%;
    margin-left: 0%;
    margin-top: 0%;
    font-size: 6.5vh;
  }
  .contact-links {
    font-size: 1em;
    justify-content: flex-start;
    position: absolute;
    bottom: 10px;
  }
  .contact-links i {
    padding: 30px;
    color: #000000;
  }

  #navbar {
    display: none;
  }

  .nav-work, .nav-about {
    font-size: 10pt;
  }

  h2 {
    font-size: 3em;
  }

  .nav-about-bg {
    background-size: 100% ;
    background-position-x: 0px;
    background-position-y: 0px;
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  .spacer {
    height: 30vh;
  }
}

@media screen and (min-width: 769px) {

  .nav-work-bg {
    background-size: 70%;
    background-position: top 0px right 100px;
  }

  .heading {
    width: 40%;
  }

  .landing-page {
    padding: 30px;
  }

  .welcome-message {
    margin-top: 10%;
    font-size: 8.5vh;
  }

  .nav-work-content, .nav-about-content, .nav-contact-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    border: 0px solid black;
    padding: 10px;
  }

  .nav-contact-content {
    justify-content: flex-start;
  }

  .box1 {
    padding-right: 20px;
    flex: 1 1 auto;
    width: 10%;
    min-width: 250px;
  }

  #box2 {
    padding-left: 20px;
    flex: 1 1 auto;
    width: 50%;
  }
  
  .box3 {
    display: none;
  }

  .box4 {
    flex: 1 1 auto;
    width: 40%;
    padding-left: 20px;
    padding-right: 20px;
    order: 1;
  }

  .box5 {
    flex: 1 1 auto;
    width: 20%;
    padding-left: 20px;
    padding-right: 20px;
    order: 2;
  }

  .box6 {
    flex: 1 1 auto;
    width: 30%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 200px;
    order: 3;
  }

  .box7, .box8 {
    flex: 1 1 auto;
    max-width: 30%;
  }

  .nav-links li {
    display: inline;
    margin-right: 30px;
  }

}
@media screen and (max-height: 450px) {
  .contact-links {
    position: relative;
  }

  .landing-page {
    height: auto;
  }
}

@media screen and (min-height: 650px) {
  .spacer {
    height: 30vh;
  }
}